.avatar-container {
  display: flex;
  min-width: 16px;
  min-height: 16px;
  border-radius: 50%;
}

.app-avatar {
  width: 32px;
  height: 32px;
  margin: auto;
  object-fit: cover;
}

.avatar-container {
  display: flex;
}
