.requiredSection {
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
  align-items: center;
}

.walletSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 16px;
  height: 100px;
  padding: 8px;
  border-radius: 4px;
}

.walletDetail {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 8px;
}

.walletAmount {
  display: flex;
  width: max-content;
  align-items: center;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.breakText {
  word-wrap: break-word;
}
