.container-pill {
  height: 32px;
  display: flex;
  min-width: 116px;
  padding: 8px 16px;
  width: max-content;
  align-items: center;
  border-radius: 100px;
  justify-content: center;
  background-color: #f2f2f2;
}
