.input-container {
  width: auto;
  display: flex;
  padding: 16px;
  border-radius: 4px;
  align-items: center;
  border: 1px solid #7c7d7e;
  justify-content: space-between;
}

.input-container:focus-within {
  outline: auto;
}

.input-field {
  border: none;
}

.input-field:focus {
  outline: none;
}

.currency {
  font-size: 14px;
  color: #7c7d7e;
}
