$breakpoint-tablet: 911px;

$breakpoint-mobile: 600px;

.tooltip-container {
  padding: 8px 16px 16px 16px !important;
  background-color: #f8f9fc !important;
  border: solid 1.27px #f9f9f9 !important;
}

.date-label {
  font-size: 11px;
  font-weight: 700;
  color: #7a7a7a;
  line-height: 100%;
  letter-spacing: 0.22px;
  text-transform: uppercase;
}

.display-flex {
  display: flex;
}

.value-label {
  font-weight: 700;
  font-size: 20px;
  color: #242424;
  line-height: 100%;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

.fluctuation-container {
  margin-left: 8px;
  padding: 2px 5px;
  border-radius: 5px;
}

.fluctuation-up {
  color: #00a965;
  background-color: rgba(0, 169, 101, 0.1);
}

.fluctuation-down {
  color: #d21a4d;
  background-color: rgba(229, 0, 74, 0.1);
}

.fluctuation-label {
  font-size: 16px;
  line-height: 100%;
}

.dashboard-bottom-flat-containers {
  width: 28% !important;
  padding: 16px !important;
  @media (max-width: $breakpoint-mobile) {
    width: 100% !important;
    margin-top: 8px;
  }
}

.point {
  margin-right: 8px;
  border-radius: 4px;
  height: 8px;
  width: 8px;
}

.dashboard-right-flat-containers {
  margin-top: 16px;
  min-width: 260px;
  width: 90% !important;
  @media (max-width: $breakpoint-tablet) {
    width: 27% !important;
    min-width: 100px;
  }
  @media (max-width: $breakpoint-mobile) {
    width: 100% !important;
    margin-top: 8px;
  }
}

.dashboard-container {
  display: flex;
  width: 100%;
  @media (max-width: $breakpoint-tablet) {
    display: block;
  }
}

.graphic-container {
  width: 100%;
  padding: 8px 24px 8px 8px;
  border-right: solid 1px rgba(0, 0, 0, 0.2);
  @media (max-width: $breakpoint-tablet) {
    border-right: none;
    padding: 0;
  }
  @media (max-width: $breakpoint-mobile) {
    padding: 0;
  }
}

.graphic-container-internal {
  width: 100%;
  height: 100%;
  @media (max-width: $breakpoint-mobile) {
    padding-right: 0;
  }
}

.graphic-header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.margin-left {
  margin-left: 8px;
}

.total-value-container {
  display: flex;
  margin-bottom: 24px;
  align-items: flex-end;
  gap: 8px;
  flex-wrap: wrap;
}

.padding-bottom-medium {
  padding-bottom: 4px;
}

.footer-container-dashboard {
  width: 100%;
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
  @media (max-width: $breakpoint-mobile) {
    flex-wrap: wrap;
    margin-top: 8px;
  }
}

.flex-column-direction {
  display: flex;
  flex-direction: column;
}

.flex-center {
  display: flex;
  align-items: center;
}

.flat-body-container {
  display: flex;
  margin-top: 8px;
  align-items: flex-start;
  justify-content: space-between;
}

.margin-top-medium {
  margin-top: 4px;
}

.margin-top {
  margin-top: 8px;
}

.margin-left-medium {
  margin-left: 4px;
}

.pools-icon-container {
  width: 32px;
  height: 32px;
  display: flex;
  margin-right: 8px;
  align-items: center;
  border-radius: 100px;
  justify-content: center;
  background-color: #f8f9fc;
}

.pools-body-container {
  @media (max-width: $breakpoint-tablet) {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  @media (max-width: $breakpoint-mobile) {
    flex-wrap: wrap;
  }
}

.pools-container {
  padding-left: 16px;
  @media (max-width: $breakpoint-tablet) {
    margin-top: 16px;
    padding-left: 0;
  }
}

.margin-bottom-high {
  margin-bottom: 24px;
}

.margin-top-high {
  margin-top: 24px;
}

.chart-container {
  @media (max-width: $breakpoint-mobile) {
    box-shadow: none !important;
  }
  & .recharts-surface {
    overflow: visible;
  }
}

.hide-bars-container {
  margin-top: 24px;
  margin-bottom: 16px;
  padding: 0 24px 0;
  flex-wrap: wrap;
  gap: 24px;
  @media (max-width: $breakpoint-mobile) {
    gap: 8px;
    margin-bottom: 0;
  }
  & .checkbox {
    width: 18px;
    height: 18px;
    margin-right: 8px;
    &:hover {
      cursor: pointer;
    }
  }
}

.horizontal-line{
  display: none;
  @media (max-width: $breakpoint-mobile) {
    display: block;
    border: 0.5px solid #BDBDBD80
  }
}
