.variant-h1 {
  font-size: 34px;
  font-weight: 700;
  line-height: 100%;
  font-style: normal;
  letter-spacing: 0.34px;
}

.variant-h3 {
  font-size: 20px;
  color: #211f23;
  font-weight: 700;
  line-height: 100%;
  font-style: normal;
  letter-spacing: 0.2px;
}

.variant-body1 {
  font-size: 16px;
  color: #211f23;
  font-weight: 500;
  line-height: 100%;
  font-style: normal;
}

.variant-body2 {
  font-size: 16px;
  font-weight: 400;
  color: #7c7d7e;
  font-style: normal;
  line-height: normal;
}

.variant-caption {
  font-size: 11px;
  color: #7c7d7e;
  font-weight: 700;
  line-height: 100%;
  font-style: normal;
  letter-spacing: 0.22px;
  text-transform: uppercase;
}
