$breakpoint-xl: 1600px;

.pie-chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  & .recharts-responsive-container {
    margin: 0 24px;
    width: 50%;
  }
  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
    & .recharts-responsive-container {
      margin: 0;
      width: 100%;
    }
  }
}

.piechart-label-styles {
  @media (min-width: $breakpoint-xl) {
    width: min-content;
  }
}

.pie-chart-legend-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  @media (min-width: $breakpoint-xl) {
    align-items: end;
  }
  @media (max-width: $breakpoint-mobile) {
    margin-top: 16px;
    gap: 16px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
  }
}
