table {
  width: 100%;
  border-collapse: collapse;
}

.remove-padding {
  overflow: auto;
  padding: 0 !important;
}

th,
td {
  padding: 16px 24px;
  text-align: center;
}

.th-option {
  width: 0 !important;
}

tr {
  border-top: 1px solid #eaecf0;
}

.center-element {
  display: flex;
  align-items: center;
  justify-content: center;
}

.empt-state-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 32px 0 32px 0;
  justify-content: center;
}

.img-empty {
  margin-bottom: 16px;
}

.small-margin-button {
  margin-bottom: 8px;
}

.pagination-container {
  border-top: 1px solid #eaecf0;
  align-items: center;
  padding: 8px 40px;
  display: flex;
  height: 64px;
}

.container-rows-per-page {
  position: absolute;
}

.select-item {
  margin-left: 8px;
  border: none;
}

.page-selector-container {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: auto;
}
