table {
  width: 100%;
  border-collapse: collapse;
}

.remove-padding {
  overflow: auto;
  padding: 0 !important;
}

th,
td {
  padding: 16px 24px;
  text-align: center;
}

.th-option {
  width: 0 !important;
}

tr {
  border-top: 1px solid #eaecf0;
}

.center-element {
  display: flex;
  align-items: center;
  justify-content: center;
}
