.informative-container {
  width: 262px;
  padding: 24px;
  background: #fff;
  @media (max-width: $breakpoint-mobile) {
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(189, 189, 189, 0.5);
  }
}

.bottom-border {
  border-bottom: 1px solid rgba(189, 189, 189, 0.5);
}
