.dropdown-container {
  width: 115px;
  height: 33px;
  border-radius: 4px;
  color: #7c7d7e;
  border: 1px solid #7c7d7e;
  background: #fff;
}

.dropdown-container:hover {
  border: 1px solid #26a66b;
}

.help-text {
  color: #7c7d7e;
}

.checkBox {
  .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
    color: #26a66b;
  }
}
