.dropdown-container {
  //   text-align: center;
  width: 105px;
  height: 33px;
  border-radius: 4px;
  color: #7c7d7e;
  border: 1px solid #7c7d7e;
}

.dropdown-container:hover {
  border: 1px solid #26a66b;
}
