.componentContainer {
  padding: 0px;
  max-width: 310px;
}

.buttonsStyles {
  color: #211f23;
  font-weight: 700;
  border-radius: 0px;
}

.buttonsStylesSelected {
  font-weight: 500;
  background-color: #f8f9fc;
  border-bottom: #00a965 2px solid;
}

.headerLendBorrow {
  display: flex;
  width: 100%;
}

.tabListCustom {
  width: 100%;
}

.customIndicator {
  background-color: #26a66b !important;
}

.tabCustom {
  width: 50%;
  color: rgba(124, 125, 126, 0.5) !important;
  font-weight: bold !important;
  border-bottom: 2px solid rgba(124, 125, 126, 0.5) !important;
  &.Mui-selected {
    color: #000 !important;
  }
}

.bodyLendBorrow {
  padding: 40px 24px 24px 24px;
}

.tabPanelCustom {
  padding: 0px !important;
}

.containerButtonLendBorrow {
  width: 100%;
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
