.componentContainer {
  padding: 0px;
  max-width: 310px;
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.15), 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}

.componentSelectedPool {
  padding: 0px;
  max-width: 310px;
  box-shadow: none;
}

.buttonsStyles {
  color: #211f23;
  font-weight: 700;
  border-radius: 0px;
}

.buttonsStylesSelected {
  font-weight: 500;
  background-color: #f8f9fc;
  border-bottom: #00a965 2px solid;
}

.headerLendBorrow {
  display: flex;
  height: 48px;
  width: 100%;
}

.tabListCustom {
  width: 100%;
}

.tabCustom {
  width: 50%;
  height: 48px;
  min-height: 0px !important;
  font-weight: bold !important;
  text-transform: capitalize !important;
  color: rgba(124, 125, 126, 0.5) !important;
  border-bottom: 2px solid rgba(124, 125, 126, 0.5) !important;
  &.Mui-selected {
    color: #000 !important;
  }
}

.bodyLendBorrow {
  padding: 40px 24px 24px 24px;
}

.bodyLendBorrowSelectedPool {
  padding: 16px 0px;
}

.tabPanelCustom {
  padding: 0px !important;
}

.containerButtonLendBorrow {
  width: 100%;
  display: flex;
  justify-content: center;
}
